@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
}

strong.titulo {
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
